# Secret key untuk Flask session (Session Encryption)
SECRET_KEY=gantidenganyangamandanpanjang

# URI Database PostgreSQL (misal: Supabase)
# Format: postgresql://username:password@host:port/dbname
DATABASE_URL=postgresql://postgres.xxxxxx:yourpasswordhere@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
